# Exclude Minecraft world data
/data/*
!/data/.gitkeep

# Exclude RCON data
/rcon-data/*
!/rcon-data/.gitkeep

# Exclude backup files
/backups/*
!/backups/.gitkeep
**/*.backup*
*/.backup*/

# Exclude Docker files
.docker/
docker-compose.override.yml

# Ignore system temporary files
.DS_Store
Thumbs.db

# Ignore editor/IDE settings
.vscode/
*.swp
*.bak